.jumbotron {
    background-color: rgb(255, 115, 0);
    color: black;
    margin-top: 50px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 115, 0);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
   flex: 1 150px; /*Esta instruccion de Flex, lo que utiliza por un lado cuantos decimo queremos que cresca el elemento que sea de tipo flex
                   en este caso nuestras fichas, y de cuanto va a ser el ancho en este caso 150, al decirle 1 que es la propiedad flex-grow
                   que es lo que representa esto queremos que se mantenga intacta si le pusieramos 2 quiere decir que cada uno de los items
                   puede ocupar hasta el doble del ancho, luego utiliza la propiedad flex-basis, especifica el ancho definido*/
   padding: 2px 5px 2px 5px;
   margin-top: 10px;   
   
}

.card-hotel p {
   text-align: left; 
}

.btn-reserva {
    width: 100%;    
}

.social a{
    color: #ffffff;
}

.contacto a {
    color: #ffffff;
}

.footer-address-icon {
    padding-right: 5px;
}

.face__img {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.twi__img {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.inst__img {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.goo__img {
    position: relative;
    width: 20px;
    height: 20px;
}