/*Definimos un mixin*/
.jumbotron {
  background-color: #FF7300;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #FF7300;
  margin-top: 10px;
  margin-bottom: 0px; }

.imageC {
  width: 100%;
  height: 300px; }

.card-hotel {
  flex: 1 200px;
  /*Esta instruccion de Flex, lo que utiliza por un lado cuantos decimo queremos que cresca el elemento que sea de tipo flex
                   en este caso nuestras fichas, y de cuanto va a ser el ancho en este caso 150, al decirle 1 que es la propiedad flex-grow
                   que es lo que representa esto queremos que se mantenga intacta si le pusieramos 2 quiere decir que cada uno de los items
                   puede ocupar hasta el doble del ancho, luego utiliza la propiedad flex-basis, especifica el ancho definido*/
  margin-top: 10px;
  margin-bottom: 0px; }

/* .card-hotel p {
   text-align: left; 
} */
.btn-reserva {
  width: 100%;
  border-radius: 0; }

.social a {
  color: #ffffff; }

.contacto a {
  color: #ffffff; }

.footer-address-icon {
  padding-right: 5px; }

.face__img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 5px; }

.twi__img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 5px; }

.inst__img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 5px; }

.goo__img {
  position: relative;
  width: 20px;
  height: 20px; }

.tab-content {
  padding-top: 10px; }
